@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: Work Sans;
    
}

/* common css*/
.dflex{
    display: flex;
    
}
.buttonem {
    padding: 1.25rem 1.52rem;
    border: none;
    border-radius: 8px;
    background: rgb(255, 144, 14);
    color: white;
}

.bgcolor{
    background: rgba(255, 144, 14, 0.1);
    padding: 1.8rem 0;
}
.dsize{
    max-width: 1440px;
    margin: 0 auto;
}

/* common css*/
.navpart{
    justify-content: space-between;
    align-items: center;
    
}
.navpart h2{
    font-size: 2.18rem;
font-weight: 700;
}
.navmenu > a{
    margin-left: 1.8rem;
    font-weight: 1.12rem;
    color: rgb(66, 66, 66);
}



.banner{
    flex-direction: column;
    align-items: center;
    text-align: center;
    word-wrap: break-word;
}
.bannertxt{
    flex-direction: column;  
    max-width: 720px;
}

.bannertxt > h1 {
    font-size: 4rem;
font-weight: 700;
}
.bannertxt > p {
    font-size: 1rem;
    margin: 2rem 0;
font-weight: 400;
 color: rgb(114, 114, 114);
}

.banner > img {
    margin-top: 2rem;
    width: 100%;
}




.feature{
    margin-top: 3.5rem;
    justify-content: space-between;
}

.featureimg{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.8rem;
}
.featuretxt{
    padding: 0 5.5rem;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}
.blcclr{
    color: rgb(19, 19, 19);
    font-weight: 700;
}
.qckclr{
    color: rgb(114, 114, 114);
    font-weight: 500;
}
.ftrclr{
    color: rgb(255, 144, 14);
    font-weight: 700;
}
.featuretxt > h3 {

font-size: 2.8rem;
}
.featuretxt > p {
    font-weight: 400;
    font-size: 1rem;
    color: rgb(114, 114, 114);
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}





.Experience{
    margin-top: 6.25rem;
}

.experiencetxt{

    padding: 0 8rem;
    flex-direction: column;
    margin: 0 auto;
    
}
.experiencetxt > p {
    font-size: 1rem;
    font-weight: 400;
    color: rgb(114, 114, 114);
    margin-top: 2rem;
    
}
.experiencetxt > h3 {
    font-size: 2.81rem;
    font-weight: 700;
    border-left: 0.4rem solid rgb(255, 144, 14);
    padding-left: 1.2rem;
}

.exptxtpart{
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.03);
    border-radius:8px;
    margin-top: 2.4rem;
    padding: 1.3rem 1rem; 
}
.exptxtpart > h3 {
    font-size: 1.5rem;
    font-weight: 600;
}
.exptxtpart > p {
    color: rgb(114, 114, 114);
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 400;
}

.Experience > img {
    width: 100%;
}








.fect{
    flex-direction: column;
    margin: 0 auto;
}

.facttxt{
    display: flex;
    flex-direction: column;
    padding-right: 50%;
    
}
.facttxt > h3 {

    font-size: 2.81rem;
font-weight: 700;

margin: 6rem 0 2rem 0;
}
.facttxt > p{
    font-size: 1rem;
font-weight: 400;
}
.fectboxs{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    gap: 6.25rem;
    margin-top: 5rem;
    
}
.factbox{
    height: 15rem;
    width: 15rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border: 1px solid goldenrod;
    border-radius: 8px;
    

}
.factbox > h3 {
    font-size: 2.81rem;
font-weight: 600;
}
.factbox >p {
    font-size: 1.25rem;
    color: rgb(114, 114, 114);;
font-weight: 600;
}
@media only screen and (max-width: 574px){
    *{
        margin: 0 auto;
    }
    .navpart{
        display: inline;
        
    }
    .navpart >h2 {
        margin: 1rem;
    }
    .feature{
        display: inline;
        justify-content: space-between;
    }
    .featureimg{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 2rem 0;
        gap: 1.8rem;
    }
    .Experience{

        flex-direction: column;
    }
    .experiencetxt {
        padding: 0px 0;
        flex-direction: column;
        margin: 0 auto;
    }
    .facttxt{
        display: flex;
        flex-direction: column;
        padding-right: 30%;
        
    }
    .fectboxs{
        display: grid;
        align-items: center;
        grid-template-columns: repeat(1, 1fr);
    }
}